.modal-dialog
  .dl-modal
    .dl-modal-header
      button(type="button" class="close" data-dismiss="modal" aria-hidden="true") X
      h4.modal-title#myModalLabel 新建学校
    .dl-modal-body
      form.form-horizontal.clearfix(name="infoForm")
        .dl_modal_container.clearfix
          h4.pull-left 基本信息
        hr
        .dl_modal_container.clearfix
          .info_side
            span.info_label 学校名:
          .info_detail
            input.dl_form_control(ng-model="newCompany.name")
        //- .dl_modal_container.clearfix
        //-   .info_side
        //-     span.info_label 地区:
        //-   .info_detail
        //-     input.dl_form_control(ng-model="newCompany.province")
        //-     input.dl_form_control(ng-model="newCompany.city")
        //-     input.dl_form_control(ng-model="newCompany.district")
        .dl_modal_container.clearfix#cities(data-src="/region/json" data-select="province city district")
          .info_side
            span.control-label(for="province") *城市:
          .info_detail.select_right
            .select_box
              //- select#province.dl_form_control(type="text" name="province" ng-model= "province")
              input.dl_form_control(ng-model="newCompany.province")
            .select_box
              //- select#city.dl_form_control(type="text" name="city" ng-model="city")
              input.dl_form_control(ng-model="newCompany.city")
            .select_box(last_child)
              //- select#region.dl_form_control(type="text" name="district" ng-model="district" )
              input.dl_form_control(ng-model="newCompany.district")
        .dl_modal_container.clearfix
          .info_side
            span.info_label 详细地址:
          .info_detail
            input.dl_form_control(ng-model="newCompany.address")
        .dl_modal_container.clearfix
          .info_side
            span.info_label 简介:
          .info_detail
            input.dl_form_control(ng-model="newCompany.brief")
    .dl-modal-footer
      button.dl_btn.dl_btn_large(ng-click="createCompany()") 确定