.modal-dialog
  .dl-modal
    form.form-horizontal.clearfix(name="stadiumForm")
      .dl-modal-header
        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") X
        h4.modal-title#myModalLabel 增加场馆
      .dl-modal-body.clearfix
        .dl_modal_container.clearfix
          .info_side
            span.info_label 场馆名:
          .info_detail_2
            input.dl_form_control(ng-model="newstadium.name" required)
        .dl_modal_container.clearfix(data-src="/region/json" data-select="province city district" )
          .info_side
            span.info_label 场馆地址:
          .info_detail_2
            select(name="province")
            select(name="city")
            select(name="district")
            input.dl_form_control(ng-model="newstadium.location.name" required)

        .dl_modal_container.clearfix
          .info_side
            span.info_label 简介:
          .info_detail_2
            input.dl_form_control(ng-model="newstadium.introduce" required)
      .dl-modal-footer
        button.dl_btn.dl_btn_large(ng-disabled="stadiumForm.$invalid" ng-click="addStadium()" data-dismiss="modal") 确定