.modal-dialog
  .dl-modal
    .dl-modal-header
      button(type="button" class="close" data-dismiss="modal" aria-hidden="true") X
      h4.modal-title#myModalLabel 该公司详细信息
    .dl-modal-body
      form.form-horizontal.clearfix(name="infoForm")
        .dl_modal_container.clearfix
          h4.pull-left 基本信息
        hr
        .dl_modal_container.clearfix
          .info_side
            span.info_label 公司名:
          .info_detail
            span.info_label(ng-if='!nameEdit') {{info.name}}
            input.dl_form_control(ng-if='nameEdit' ng-model="info.name")
            a(ng-if='!nameEdit' ng-click='editName()') 编辑
            a(ng-if='nameEdit' ng-click = 'saveName()') 保存
        .dl_modal_container.clearfix
          .info_side
            span.info_label 官方公司名:
          .info_detail
            span.info_label {{info.official_name}}
        .dl_modal_container.clearfix
          .info_side
            span.info_label logo:
          .info_detail
            img.size_48(ng-src="{{staticUrl}}{{info.logo}}")
        .dl_modal_container.clearfix
          .info_side
            span.info_label 地区:
          .info_detail
            span.info_label {{info.city.province}}  {{info.city.city}} {{info.city.district}}
        .dl_modal_container.clearfix
          .info_side
            span.info_label 详细地址:
          .info_detail
            span.info_label {{info.address}}
        .dl_modal_container.clearfix
          .info_side
            span.info_label 人数:
          .info_detail
            span.info_label {{info.membernumber}}
        .dl_modal_container.clearfix
          .info_side
            span.info_label 简介:
          .info_detail
            span.info_label {{info.brief}}
        .dl_modal_container.clearfix
          .info_side
            span.info_label 注册时间:
          .info_detail
            span.info_label {{register_date}}
    .dl-modal-footer
      button.dl_btn.dl_btn_large(data-dismiss="modal") 确定