<div id="content">
  <div class="form-group row">
    <div class="col-lg-8">
      <select data-placeholder="Choose a Country..." class="form-control chzn-select" tabindex="2" ng-model="province_selected" ng-options="v.name for v in provinces" ng-change="getCity(province_selected)">
        <option value=""> 请选择省
        </option>
      </select>
    </div>
    <div class="col-lg-2">
      <input type="text" ng-model="province_new"></input>
    </div>
    <div class="col-lg-2">
      <input type="button" value="delete" ng-click="_delete(0,province_selected.id)"></input>
      <input type="button" value="add" ng-click="add(0)"></input>
      <input type="button" value="edit" ng-click="_edit(0,province_selected.id)"></input>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-lg-8">
      <select data-placeholder="Choose a Country..." class="form-control chzn-select" tabindex="2" ng-model="city_selected" ng-options="v.name for v in cities" ng-change="getDistrict(city_selected)">
        <option value=""> 请选择市
        </option>
      </select>
    </div>
    <div class="col-lg-2">
      <input type="text" ng-model="city_new"></input>
    </div>
    <div class="col-lg-2">
      <input type="button" value="delete" ng-click="_delete(1,city_selected.id)"></input>
      <input type="button" value="add" ng-click="add(1)"></input>
      <input type="button" value="edit" ng-click="_edit(1,city_selected.id)"></input>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-lg-8">
      <select data-placeholder="Choose a Country..." class="form-control chzn-select" tabindex="2" ng-model="district_selected" ng-options="v.name for v in districts" >
        <option value=""> 请选择区/县
        </option>
      </select>
    </div>
    <div class="col-lg-2">
      <input type="text" ng-model="district_new"></input>
    </div>
    <div class="col-lg-2">
      <input type="button" value="delete" ng-click="_delete(2,district_selected.id)"></input>
      <input type="button" value="add" ng-click="add(2)"></input>
      <input type="button" value="edit" ng-click="_edit(2,district_selected.id)"></input>
    </div>
  </div>

</div><!-- /#content -->