.campaign_content{
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  max-width: 400px;
  height:100%;
}

.time_picker_area{
  width:500px;
  height:35px;
  float:right;
}

.time_picker_area .time_span{
  width:200px;
  height:35px;
  float:left;
}

.time_picker_area .time_block{
  text-align:center;
  width:50px;
  height:35px;
  float:left;
  line-height:200%;
  font-size:18px;
}