html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Microsoft YaHei", STHeiti, MingLiu;
  font-size: 12px;
  line-height: 18px;
  color: #666;
  background-color: #f4f4f4;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Microsoft YaHei", STHeiti, MingLiu;
}
* {
  font-family: "Microsoft YaHei", STHeiti, MingLiu;
}
a {
  color: #28689b;
  cursor: pointer;
}
li {
  list-style: none;
}
select {
  border-radius: 0 !important;
  height: 34px !important;
}
button {
  border: none;
  outline: none;
}
input {
  outline: none;
}
textarea {
  outline: none;
}
textarea {
  resize: none;
}
.name_banner{
  width:100%;
}
.name_banner .content{
  width:95%;
  float:left;
}
.name_banner .content .inputbox{
  width:90%;
}
.name_banner .edit{
  width:5%;
  float:right;
}
.team_modal{
  width : 940px !important;
  margin-left : -200px !important;
}
.nav-tabs>li.active>a {
  background-color: #fff;
}
.nav-tabs>li.active>a:hover {
  background-color: #fff;
}
.dl-form-control{
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.message_detail {
  width: 364px;
  max-height: 140px;
  word-break: break-all;
  overflow: hidden;
  margin-top: -20px;
}
.message_panel {
  min-height: 93px !important;
  padding-top: 20px !important;
  width: 660px;
}
.message_panel:hover {
  cursor: pointer;
  background-color: #f8f8f3;
}
.bg_change:hover {
  cursor: pointer;
  background-color: #f8f8f3;
}
.loading_div {
  background: url("/img/loading.gif") center 40px no-repeat;
  min-height: 100px;
}
.comment_height_limit {
  height: auto;
  max-height: 190px;
}
.mouse_hidden {
  color: transparent;
}
.mouse_hidden:hover {
  color: #666;
}
.chart_area{
  width: 400px !important;
  height: 200px !important;
}
.comment_right {
  float: right;
  margin-right: 10px;
}
.line_left {
  margin-left: 5px !important;
}
.line_top {
  margin-top: -20px !important;
}
.comment_bottom {
  width: 100%;
  margin-left: 15px;
  padding: 0;
  margin: 10px 0;
}
.comment_tool_bottom {
  margin-top: -45px !important;
}
.comment_top {
  margin-top: -5px !important;
}
.comment_left {
  margin-left: -10px !important;
}
.size_head_list {
  width: 36px;
  height: 36px;
  margin-left: 10px;
}
.dl_message_head {
  width: 10%;
  margin-left: 5px;
  float: left;
  min-height: 71px;
}
.dl_message_body {
  width: 590px;
  float: left;
  margin-left: 5px;
}
.dl_message_tail {
  width: 18%;
  margin-left: 5px;
  float: left;
}
.dl_message_rightcorner {
  margin-right: 20px !important;
  margin-top: 5px !important;
}
.dl_btn_score {
  width: 100px;
  height: 50px;
  background: #f20;
}
.dl_center {
  text-align: center;
}
.dl_box {
  width: 275px;
  height: 150px;
  margin-left: -32px;
}
.dl_cover {
  border-style: solid;
  border-color: #f22;
  border-width: 2px;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  width: 80px;
  height: 80px;
}
.dl_msg_corner {
  margin-top: -15px;
  margin-left: 10px;
  font-size: 10px;
  position: absolute;
  z-index: 1000;
  width: auto;
  height: auto;
  background-color: #cd270d;
  border-radius: 100%;
  color: #f4f4f4;
  padding: 0px 4px 0;
}

.dl_width_parameter{
  width: 50px !important;
}
.dl_corner {
  margin-top: -48px;
  margin-left: 120px;
  font-size: 12px;
  position: absolute;
  z-index: 1000;
  width: auto;
  height: auto;
  background-color: #cd270d;
  radius: 500px;
  border-radius: 500px;
  color: #f4f4f4;
  padding: 2px 10px 0;
}
.dl_user_name_small {
  display: inline-block;
  max-width: 50px;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.dl_user_name_normal {
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl_head {
  max-width: 1020px;
  width: auto;
  min-width: 960px;
  margin: 0 auto;
  padding: 0 2rem;
}
.dl_head .user_img {
  display: inline-block;
}
.dl_head .user_img img {
  display: block;
}
.dl_head .user_name {
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl_code{
  margin-left:5px;
  width: auto;
  margin-right: 5px;
}
.dl_parameter {
  height: 90px;
}
.dl_block {
  display: block;
}
.dl_label {
  color: #cc847f;
  font-size: 12px !important;
}
.comment {
  position: relative;
  margin-top: 20px;
}
.comment .comment_user_info {
  float: left;
  max-width: 50px;
}
.comment .comment_user_info p {
  text-align: center;
}
.comment .comment_user_info .user_photo {
  width: 50px;
  height: 50px;
}
.comment .comment_user_info .user_name {
  text-decoration: none;
}
.comment .comment_content_panel {
  float: left;
  margin-left: 20px;
}
.comment .comment_content_panel .comment_content {
  padding: 10px;
  background-color: #fbfbfb;
  border: solid 1px #ededed;
  width: 450px;
  min-height: 50px;
  word-break: break-all;
  max-height: 140px;
  overflow: hidden;
  margin-bottom: 4px;
}
.comment_textarea {
  height: 60px;
  background-color: #fbfbfb;
  border-color: #ededed;
  border-radius: 0;
}
.triangle {
  position: absolute;
  top: 16px;
  height: 0px;
  width: 0px;
  margin-left: -19px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #fbfbfb transparent transparent;
}
.triangle_border {
  position: absolute;
  top: 15px;
  height: 0px;
  width: 0px;
  margin-left: -21px;
  border-width: 11px;
  border-style: solid;
  border-color: transparent #ededed transparent transparent;
}
.use_edit_info .birthday_detail {
  width: 175px;
}
.dl_comment_area {
  float: right;
  width: 540px;
  height: 100%;
  background-color: #f8f8f8;
}
.dl_comment_area .photo {
  width: 55px;
  padding-top: 4px;
}
.dl_comment_area .photo .size_head_list {
  margin-left: 0;
}
.dl_comment_area .comment_box {
  width: 480px;
  float: left;
}
.dl_comment_area .comment_box .comment_name {
  width: 74%;
  margin-left: 5px;
  float: left;
}
.dl_comment_area .comment_box .comment_time {
  width: 24%;
  margin-right: -15px;
  float: right;
}
.dl_comment_area .hidden_block {
  margin-top: -5px;
  margin-right: -15px;
}
.dl_comment_area .content {
  width: 364px;
  max-height: 140px;
  word-break: break-all;
  overflow: hidden;
  padding-left: 4px;
}
.dl_comment_area .content h5 {
  margin-top: 0;
}
.dl_comment_area .dl_row {
  min-height: 24px;
}
.dl_area {
  margin-right: 15px;
}
.dl_form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.table_all {
  overflow-x: scroll;
  max-width:1600px;
}

.td_err {
  overflow-y: scroll;
  max-height:200px;
}

.td_max_height {
  overflow-y: scroll;
  max-height:50px;
}

.dl_tip {
  float: left;
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
  height: 10px;
  width: 200px;
  color: #f00;
}
.dl-modal {
  position: relative;
  background-color: #fff;
  border: 1px solid;
  background-clip: padding-box;
  outline: 0;
  border-radius: 0;
  box-shadow: 0;
  webkit-box-shadow: 0;
  width: 640px;
  padding: 20px;
}
.dl-modal .dl-modal-header {
  min-height: 16.42857143px;
  margin-bottom: 30px;
}
.dl-modal .dl-modal-header:close {
  margin-top: -2px;
}
.dl-modal .dl-modal-body {
  position: relative;
}
.dl-modal .dl-modal-body .info_side {
  min-width: 70px;
}
.dl-modal .dl-modal-body .dl_modal_container {
  width: 100%;
  float: left;
  clear: left;
}
.dl-modal .dl-modal-body .dl_modal_container .dl_modal_half_container {
  width: 280px;
  float: left;
  margin-right: 20px;
}
.dl-modal .dl-modal-body .dl_modal_container .dl_modal_half_container.end_time {
  margin-right: 0px;
}
.dl-modal .dl-modal-body .dl_modal_container .dl_modal_half_container.end_time .dl_modal_half_container {
  margin-right: 0px;
}
.dl-modal .dl-modal-body .dl_modal_container .dl_modal_input {
  border-radius: 0;
  margin-bottom: 18px;
  font-size: 12px;
}
.dl-modal .dl-modal-body .dl_modal_container .dl_modal_input_container {
  width: 530px;
  float: left;
}
.dl-modal .dl-modal-body .dl_modal_container .dl_modal_button {
  width: 67px;
  height: 33px;
  float: right;
  padding: 8px 0 4px 2px;
}
.dl-modal .dl-modal-body .dl_modal_container .dl_modal_option_container {
  background-color: #f6f6f6;
  padding: 10px 0;
  margin-bottom: 15px;
  float: left;
  width: 600px;
}
.dl-modal .dl-modal-body .dl_modal_container .dl_modal_option_container .dl_modal_label_container {
  float: left;
  min-width: 100px;
  padding: 7px 0;
}
.dl-modal .dl-modal-body .dl_modal_container .dl_modal_option_container .dl_modal_other_container {
  float: left;
  width: 120px;
}
.dl-modal .dl-modal-body .dl_modal_container .dl_modal_option_container .dl_modal_time_container {
  float: left;
  width: 159px;
}
.dl-modal .dl-modal-body .dl_modal_container .dl_modal_option_container .dl_modal_people_container {
  float: left;
  width: 39px;
  padding: 7px 0;
  text-align: center;
}
.dl-modal .dl-modal-footer {
  text-align: left;
}
.dl_btn_right {
  width: 75px;
  height: 34px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  display: inline-block;
  background-color: #cd270d;
}
.dl_btn_right:hover {
  background-color: #8f5248;
}
.dl_btn_right:disabled {
  opacity: 0.55;
}
.dl_vertical {
  line-height: 250%;
}
.dl_pass_label {
  width: 120px;
  font-size: 14px;
  color: #666;
  float: left;
  padding: 7px 14px;
}
.dl_pass_input {
  width: 250px;
  float: left;
}
.dl_height {
  height: 93px;
}
.dl_logo_1 {
  width: 53px;
  margin-left: 5px;
  float: left;
}
.dl_little_hr {
  width: 86%;
  margin-left: 0px;
}
.dl_md_3 {
  width: 24%;
  margin-left: 5px;
  float: left;
}
.dl_md_4 {
  width: 32%;
  margin-left: 5px;
  float: left;
}
.dl_md_little_logo {
  width: 6%;
  margin-left: 5px;
  float: left;
}
.dl_md_1 {
  width: 12%;
  margin-left: 5px;
  float: left;
}
.dl_md_2 {
  width: 14%;
  margin-left: 5px;
  float: left;
}
.dl_md_12 {
  width: 83%;
  float: left;
  margin-left: 5px;
}
.dl_md_8 {
  width: 60%;
  margin-left: 5px;
  float: left;
}
.dl_md_large {
  width: 87%;
  margin-left: 5px;
  float: left;
}
.dl_md_7 {
  width: 50%;
  margin-left: 5px;
  float: left;
}
.dl_md_5 {
  width: 30%;
  margin-left: 5px;
  float: left;
}
.dl_message_send {
  width: 21%;
  margin-left: 5px;
  float: left;
}
.dl_message_date {
  width: 17%;
  margin-left: 5px;
  float: left;
}
.dl_message_caption {
  width: 79%;
  margin-left: 5px;
  float: left;
}
.dl_message_head_size {
  width: 48px;
  height: 48px;
}
.dl_message_status {
  width: 1%;
  float: left;
}
.dl_md_time {
  width: 29%;
  margin-left: 5px;
  float: left;
  text-align: right;
}
.dl_md_name {
  width: 78%;
  margin-left: 15px;
  float: left;
}
.dl_md_left {
  width: 78%;
  margin-left: 5px;
  float: left;
}
.dl_md_right {
  width: 18%;
  margin-left: 5px;
  float: left;
}
.dl_md_10 {
  width: 66%;
  margin-left: 15px;
  float: left;
}
.dl_md_10 .group_row {
  min-height: 28px;
  padding: 4px 0;
}
.dl_md_10 .group_row_1 {
  min-height: 24px;
  padding: 0;
}
.dl_md_12 {
  width: 73.4%;
  margin-left: 5px;
  float: left;
}
.dl_container {
  width: 960px;
  min-width: 960px;
  margin: 0 auto;
  padding-top: 15px;
}
.dl_container .main {
  width: 660px;
  max-width: 960px;
  float: left;
  margin-right: 10px;
}
.dl_container .main .score_container {
  margin-right: 20px;
  float: left;
}
.dl_container .main .score_container .info_border {
  display: inline-block;
  padding: 3px 6px;
}
.dl_container .main .score_container .info_right_border {
  padding: 3px 6px;
}
.dl_container .main .info_text {
  padding: 6px 5px;
  line-height: 32px;
}
.dl_container .side {
  width: 290px;
  float: left;
  padding-top: 41px;
}
.dl_container .side .photo_album {
  padding-top: 20px;
}
.dl_container .side .groupsbox {
  background-color: #fff;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  padding: 12px;
}
.dl_container .side .groupsbox .subtitle {
  display: block;
  margin: 0 0 10px;
}
.dl_container .side .groupsbox .group {
  display: inline-block;
  margin: 6px;
}
.dl_container .aside {
  width: 128px;
  margin-right: 20px;
  float: left;
}
.dl_container .tab-content {
  min-height: 300px;
}
.dl_container .tab-body,
.dl_container .tab-info-form {
  background-color: #f4f4f4;
  min-height: 200px;
}
.dl_container .tab_style {
  min-width: 145px;
  text-align: center;
  font-weight: bold;
}
.dl_companygroup_container {
  width: 600px;
  float: left;
  margin-left: 10px;
}
.dl_companygroup_container .group {
  float: left;
  padding-left: 20px;
  padding-bottom: 5px;
  text-align: center;
}
.group .user_name {
  display: inline-block;
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.no_radius {
  border-radius: 0 !important;
}
.baseInfo {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f0f0f0;
  width: 100%;
  height: 140px;
  margin: 0 auto;
}
.baseInfo .dl_container {
  padding-top: 0px;
}
.baseInfo .dl_container .aside {
  width: 80px;
}
.dl_messagebox {
  padding: 0;
  background-color: #fff;
  line-height: 21px;
  border: 1px solid #e6e6e6;
  border-top: none;
}
.dl_messagebox:hover {
  background-color: #fafafa;
}
.dl_messagebox:after {
  display: block;
  line-height: 0;
  content: "";
  border: 0;
}
.dl_messagebox:before {
  display: block;
  line-height: 0;
  content: "";
}
.dl_messagebox .dl_messageitem {
  padding: 10px;
}
.dl_messagebox .pointer {
  cursor: pointer;
}
.dl_messagebox .message_side {
  width: 56px;
  float: left;
}
.dl_messagebox .messagebox_content {
  width: 570px;
  float: left;
  margin-left: 10px;
  position: relative;
}
.dl_messagebox .message_row {
  padding: 1px 0;
}
.dl_messagebox .vertical_label {
  margin: 0 8px 0 8px;
}
.dl_messagebox .message_head {
  font-size: 14px;
}
.campaigns_list {
  background-color: #f4f4f4;
}
.dl_word_break {
  word-break: break-all;
}
.dl_message {
  border-left: 2px solid #f7f7f7;
  background-color: #f7f7f7;
  position: relative;
  clear: both;
}
.dl_message .triangle {
  top: 0%;
}
.dl_message_container {
  padding: 0 5px;
  margin: 10px auto;
}
.dl_message_label {
  padding: 5px 0;
  margin: 10px 10px;
}
.dl_row {
  min-height: 34px;
  padding: 2px 0;
  margin-left: 0;
  margin-right: 0;
}
.content {
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0 auto 0;
  padding-top: 0px;
  padding-bottom: 0;
}
.head {
  font-size: 24px;
}
.subtitle {
  font-size: 14px;
  font-weight: bold;
}
.warning_words {
  color: #cd270d;
}
.padding_0 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.padding_20 {
  padding-left: 20px !important;
  padding-bottom: 20px !important;
}
.padding_top_0 {
  padding-top: 0;
}
.dl_btn {
  margin: 0;
  color: #fff;
  background-color: #3498db;
  border: none;
  line-height: 1;
  position: relative;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
.dl_btn:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}
.dl_btn:disabled {
  opacity: 0.65;
}
.dl_btn_medium {
  width: 120px;
  height: 26px;
  line-height: 24px;
}
.dl_btn_small {
  padding: 7px 12px;
  text-align: center;
}
.dl_btn_large {
  width: 150px;
  height: 30px;
  font-size: 14px;
}
.dl_btn_detail {
  width: 180px;
  height: 40px;
}
.dl_btn_danger {
  color: #000;
  background-color: #e5e5e5;
}
.dl_btn_danger:hover {
  color: #fff;
  background-color: #ea6060;
}
.dl_btn_red {
  background-color: #cd270d;
  border-color: #cd270d;
  color: #fff;
}
.dl_btn_red:hover {
  background-color: #8f5248;
  border-color: #8f5248;
}
.dl_btn_submit {
  width: 80px;
  height: 26px;
}
.dl_close {
  opacity: 1;
}
.map_btn {
  background-color: #cd270d;
  border-color: #cd270d;
  border-style: solid;
  line-height: 1;
  position: relative;
  font-size: 12px;
  width: 60px;
  height: 25px;
  color: #fff;
  cursor: pointer;
}
.cancel_btn {
  background-color: #e5e5e5;
  line-height: 1;
  position: relative;
  color: #000;
  vertical-align: middle;
  display: inline-block;
}
.cancel_btn:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.close_btn {
  background-color: #ff8c00;
  color: #fff;
  border: none;
  line-height: 1;
  position: relative;
  font-size: 12px;
  border-radius: 1px;
}
.close_btn:hover {
  background-color: #ce760a;
  border-color: #ce760a;
}
.dl_input.editToggle[disabled='disabled'] {
  background-color: inherit;
  border: 0px solid;
  box-shadow: none;
  cursor: default;
  font-size: 12px;
}
.info_border {
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #3498db;
}
.info_right_border {
  padding: 8px 5px;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-color: #3498db;
}

.dl_left_head{
  width:auto;
  margin-left:5px;
  float:left;
}
.margin_0 {
  margin: 0;
}
.margin_left_5 {
  margin-left: 5px;
}
.margin_5 {
  margin: 5px;
}
.margin_15 {
  margin: 15px;
}
.margin_top_5 {
  margin-top: 5px;
}
.margin_top_6 {
  margin-top: 6px;
}

.margin_top_10 {
  margin-top: 10px;
}

.margin_top_15 {
  margin-top: 15px;
}
.margin_top_20 {
  margin-top: 20px;
}
.margin_top_30 {
  margin-top: 30px;
}
.margin_top_50 {
  margin-top: 50px;
}
.margin_top_100 {
  margin-top: 100px;
}
.margin_top_123 {
  margin-top: 123px;
}
.margin_left_10 {
  margin-left: 10px;
}
.margin_left_15 {
  margin-left: 15px;
}
.margin_left_30 {
  margin-left: 30px;
}
.margin_left_80 {
  margin-left: 80px;
}
.margin_right_10 {
  margin-right: 10px !important;
}
.margin_right_20 {
  margin-right: 20px !important;
}
.header_container {
  width: 960px;
  margin: auto;
}
.size_family {
  height: 300px;
  width: 800px;
}
.size_400 {
  height: 210px;
  width: 210px;
}
.size_210 {
  height: 210px;
  width: 210px;
}
.size_128 {
  height: 128px;
  width: 128px;
}
.size_90 {
  height: 90px;
  width: 90px;
}
.size_80 {
  height: 80px;
  width: 80px;
}
.size_48 {
  height: 48px;
  width: 48px;
}
.size_36 {
  height: 36px;
  width: 36px;
}
.size_56 {
  height: 56px;
  width: 56px;
}
.size_20 {
  height: 20px;
  width: 20px;
}
.size_map {
  width: 265px;
  height: 140px;
}
.detail_photo {
  height: 50px;
  width: 50px;
  border-top: 5px;
}
.height_200 {
  height: 200px;
}
.width_120 {
  width: 120px;
}
.height_34 {
  height: 34px;
}
.img_contain {
  background-size: contain;
}
.img_user {
  border-radius: 100%;
}
.full_parent {
  height: 100%;
  width: 100%;
}
.info_label {
  padding: 7px 7px;
  font-size: 12px;
  color: #999;
}
.info_side {
  min-width: 115px;
  min-height: 34px;
  padding: 7px 0;
  float: left;
  text-align: right;
}
.info_detail {
  min-width: 200px;
  float: left;
  padding-right: 20px;
}
.info_detail .invite-link {
  height: 72px;
}
.info_detail_2 {
  min-width: 100px;
  min-height: 34px;
  padding: 7px 0;
  float: left;
}
.m_l_5 {
  margin-left: 5px;
}
.info_radio {
  margin-left: 12px;
}
.dl_sm_group .control-label,
.dl_lg_group .control-label {
  padding-left: 0;
  padding-top: 0 !important;
  padding-right: 0;
  font-weight: normal;
}
.dl_sm_group .dl_checkbox,
.dl_lg_group .dl_checkbox,
.dl_sm_group .dl_radio,
.dl_lg_group .dl_radio {
  font-weight: normal;
  color: #b3b2af;
}
.dl_sm_group .dl_checkbox input,
.dl_lg_group .dl_checkbox input,
.dl_sm_group .dl_radio input,
.dl_lg_group .dl_radio input {
  height: 14px;
  margin-right: 3px;
}
.dl_sm_group {
  margin-bottom: 5px;
}
.dl_sm_group .control-label {
  line-height: 30px;
  font-size: 15px;
}
.dl_sm_group button,
.dl_sm_group select,
.dl_sm_group input[type="text"],
.dl_sm_group input[type="password"],
.dl_sm_group input[type="number"],
.dl_sm_group input[type="email"] {
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.dl_lg_group .control-label {
  line-height: 35px;
  font-size: 17px;
}
.dl_lg_group button,
.dl_lg_group select,
.dl_lg_group input[type="text"],
.dl_lg_group input[type="password"],
.dl_lg_group input[type="number"],
.dl_lg_group input[type="email"] {
  height: 35px;
}
input[type="number"] {
  padding-right: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dl_form_control,
.dl_full_control {
  display: inline-block;
}
.dl_full_control {
  width: 100%;
}
.dl_menu {
  background: #3498db;
  padding-top: 0;
  padding-bottom: 0;
  min-width: 100px !important;
}
.dl_menu .dl_menu_a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff !important;
}
.dl_menu .dl_menu_a:hover {
  background-color: #558cb1;
}
.dl_nav {
  height: 50px;
  background-color: #3498db;
  border-color: #fff;
  color: #fff;
  border-radius: 0px;
  margin-bottom: 0px;
  min-width: 960px;
}
.dl_nav .header_container {
  max-width: 90%;
  width: auto;
  min-width: 960px;
  padding: 0 50px;
}
.dl_nav ul li a:focus {
  background-color: #558cb1 !important;
}
.dl_nav ul li a {
  padding-top: 17px;
  padding-bottom: 13px;
  color: #fff !important;
}
.dl_nav .logo {
  margin-top: 5px;
  margin-left: 10px;
}
.relative {
  position: relative;
}
.navbar {
  border: none;
}
.navbar-inverse .navbar-brand {
  padding: 6px 0;
}
.dl_navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
}
.dl_navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}
.dl_navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .dl_navbar-toggle {
    display: none;
  }
}
.wrap {
  min-height: 100%;
  height: auto;
  margin-bottom: 13px;
  min-width: 960px;
  position: relative;
  background-color: #f4f4f4;
}
.dl_footer {
  background-color: #f0f0f0;
  height: 60px;
  min-width: 960px;
  color: #999;
}
.dl_footer hr {
  margin-top: 0;
  margin-bottom: 15px;
}
.dl_footer .text_icp {
  line-height: 60px;
}
.dl_footer .text_icp a {
  margin-left: 50px;
}
.dl_footer .dl_container {
  padding-top: 0;
}
.dl_footer .dl_row {
  padding: 0;
}
.dl_footer a {
  color: #999;
  margin-left: 50px;
}
.dl_form-Control {
  display: block;
  width: 100%;
  min-height: 34px;
  height: auto;
  padding: 6px 5px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0 !important;
  color: #999;
  float: left;
}
.dl_form-Control -webkit-box-shadow inset 0 1px 1px rgba(0,
.dl_form-Control 0,
.dl_form-Control .075) {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.dl_form-Control -webkit-transition border-color ease-in-out .15s,
.dl_form-Control box-shadow ease-in-out .15s {
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.dl_err {
  color: #f00;
}
input.ng-invalid.ng-dirty {
  border-color: #ffc0cb;
}
.tooltip.right {
  width: 300px;
}
.tooltip.right .tooltip-inner {
  background-color: #ba5a5c;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #ba5a5c;
}
.tooltip.top .tooltip-inner {
  background-color: #ba5a5c;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #ba5a5c;
}
.clearLinkUnderline:hover {
  text-decoration: none;
  color: #fff;
}
.dl-top-login {
  width: 480px;
  padding: 11px 0 0 0;
}
.dl-top-login .form-control {
  display: inline-block;
  border-radius: 0px;
}
.dl-top-login .btn {
  border-radius: 0px;
}
.dl-top-login .btn-signin-link {
  color: #28689b;
}
.dl-top-login .input-group-btn>.btn+.btn-submit {
  margin-left: 14px;
}
.dl-top-login .pull-right {
  width: 160px;
}
.dl_slider .slider {
  position: fixed;
  top: 60px;
  padding: 10px 40px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.dl_slider .slider a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
  font-size: 120%;
}
.signup_row .select_box {
  width: 85px;
  float: left;
  margin-right: 3px;
}
.signup_row .select_right {
  width: 266px !important;
}
.company-info {
  min-height: 300px;
  background-color: #f4f4f4;
}
.company-info .group_table {
  width: 100%;
}
.company-info .group_table td,
.company-info .group_table th {
  width: 50px;
}
.popover {
  border-radius: 0;
  width: 320px;
  min-height: 150px;
  background-color: #59c8eb;
  border: 1px solid #fff;
  color: #fff;
  line-height: 10px;
}
.popover .arrow {
  border-right-color: transparent !important;
}
.popover .popover-title {
  background-color: #59c8eb;
  border-radius: 0;
}
.popover .popover-content {
  height: 128px;
  border: 0;
}
.popover .popover-content .popover_img {
  float: left;
  width: 82px;
  height: 82px;
  border: 1px solid #fff;
}
.popover .popover-content .popover_content {
  float: left;
  width: 150px;
  padding: 3px 10px;
}
.popover .popover-content .popover_brief {
  float: left;
  width: 230px;
  padding: 10px;
}
.memberlist .member {
  width: 80px;
  float: left;
  margin-right: 10px;
}
.memberlist .member .img,
.memberlist .member .text {
  text-align: center;
}
.memberlist .member .user_name {
  text-align: center;
  display: inline-block;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.breadcrumb {
  background-color: #f4f4f4;
  padding-left: 0;
  margin-bottom: 10px;
}
.family_preview_container {
  margin-top: 20px;
}
.family_preview_container .add_picture_btn {
  margin-top: 20px;
}
.family_photo_preview_cell {
  width: 160px;
  height: 90px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}
.family_photo_preview_cell img {
  margin: auto;
  max-height: 100%;
}
.family_photo_preview_cell .remove {
  display: none;
  position: absolute;
  top: -9px;
  right: -10px;
  border-radius: 20px;
  font-size: 12px;
  background-color: #ff6c6c;
  color: #fff;
}
.family_photo_preview_cell .remove span {
  top: 2px;
  line-height: inherit;
}
.family_photo_preview_cell .ok {
  position: absolute;
  bottom: -9px;
  right: -10px;
  border-radius: 20px;
  font-size: 12px;
  background-color: #5cb85c;
  color: #fff;
}
.family_photo_preview_cell .ok span {
  line-height: inherit;
}
.family_photo_preview_cell:hover .remove {
  display: block;
}
.upload_family_form .upload_operator {
  margin-top: 10px;
}
.upload_family_form .remark {
  margin-top: 10px;
}
#family {
  margin-top: 30px;
  width: 660px;
  position: relative;
  background-color: #000;
}
#family .carousel-img-container {
  display: table-cell;
  vertical-align: middle;
  width: 660px;
  height: 371.25px;
}
#family .carousel-img-container img {
  max-height: 100%;
}
.dl_allteaminfo_container,
.dl_compaign_member,
.dl_department,
.dl_campaign_list,
.dl_group_select {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 0px;
  min-height: 124px;
}
.dl_allteaminfo_container .loademp,
.dl_compaign_member .loademp,
.dl_department .loademp,
.dl_campaign_list .loademp,
.dl_group_select .loademp {
  line-height: 120px;
}
.dl_company_container .main {
  width: 960px;
}
.dl_company_container .main .group_table {
  width: 960px;
}
.dl_company_container .main .group_table .dl_btn {
  margin: 0 5px 0 5px;
}
.dl_company_container .main .group_table th,
.dl_company_container .main .group_table td {
  text-align: center;
  border: solid #ddd;
  border-width: 1px 0;
  overflow: hidden;
  padding: 4px 0;
  width: 10%;
  vertical-align: bottom;
}
.dl_company_container .main .group_table td {
  vertical-align: inherit;
}
.dl_company_container .main .group_table .noborder {
  border: 0 !important;
}
.dl_company_container .main .group_table td.text-left,
.dl_company_container .main .group_table th.text-left {
  text-align: left;
}
.dl_company_container .main .group_table .operate {
  width: 20%;
}
.dl_company_container .main .group_table img {
  display: inline-block;
  border: 1px solid #ddd;
}
.dl_compaign_member {
  padding: 20px 10px 0px;
}
.dl_compaign_member .departmentbox {
  border-bottom: 1px solid #eee;
  padding: 10px 20px 0px;
}
.dl_compaign_member .groups {
  padding-left: 20px;
}
.dl_compaign_member .nodepartmentbox {
  border-bottom: 0px;
}
.dl_campaign_list .table {
  margin-bottom: 0px;
}
.dl_group_select {
  padding: 20px 40px;
}
.dl_group_select .img_contain {
  padding: 80px 0 24px;
  text-align: center;
  background-size: 64px 64px;
  background-position: center center;
}
.dl_group_select .groups_box {
  padding-left: 40px;
}
.selected_img {
  border-color: #5cb85c;
}
.dl_allteaminfo_emp {
  background-color: #f4f4f4;
  min-height: 300px;
}
.dl_allteaminfo_emp .teamitem {
  width: 290px;
  min-height: 80px;
  margin: 8px;
  margin-bottom: 60px;
}
.dl_allteaminfo_emp .teamitem .btn_join {
  position: absolute;
  right: 0;
  bottom: -26px;
}
.dl_allteaminfo_emp .teamitem .itembox {
  background-color: #fff;
  border: 1px solid #ddd;
  word-break: break-word;
  padding: 6px;
}
.dl_allteaminfo_emp .teamitem .itembox .memberlist {
  background-color: #fff;
}
.dl_allteaminfo_emp .teamitem .itembox .member {
  margin: 4px;
  width: auto;
}
.dl_allteaminfo_emp .teamitem .title {
  padding-bottom: 4px;
}
.dl_allteaminfo_emp .teamitem p {
  padding-bottom: 4px;
  margin: 0;
}
.dl_allteaminfo_emp .teamitem:hover .itembox,
.dl_allteaminfo_emp .teamitem:hover .btn_join {
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}
.dl_message_body_font {
  font-size: 48px;
  color: #3498db;
}
.dl_head_font {
  font-size: 80px;
  color: #3498db;
}
[ngcloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: none !important;
}
.deckgrid .column-1-4 {
  width: 25%;
}
.department_select_width {
  width: 127px !important;
}
.schedulebox {
  padding: 20px 8px 8px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-top: none;
}
.registerpage {
  background: none;
}

/***
Timeline UI Base
***/
.timeline {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}
/* The line */
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #ccc;
  left: 20%;
  margin-left: 8px;
}
.timeline > li {
  position: relative;
}
/* The date/time */
.timeline > li .timeline-time {
  display: block;
  width: 15%;
  position: absolute;
}
.timeline > li .timeline-time span {
  display: block;
  text-align: right;
}
.timeline > li .timeline-time span.date {
  font-size: 11px;
  color: #2c3e50;
  display: block;
  margin-bottom: 5px;
  font-weight: 300;
}
.timeline > li .timeline-time span.time {
  font-weight: 300;
  font-size: 20px;
  color: #2c3e50;
}
/* Right content */
.timeline > li .timeline-body {
  background: #f6f6f6;
  margin: 0 0 15px 25%;
  padding: 10px 10px 10px 20px;
  font-weight: 100;
  position: relative;
}
.timeline li.timeline .timeline-body: after {
  border-right-color: #f6f6f6;
}
.timeline > li .timeline-body .subtitle {
  margin-top: 8px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #eee;
}
.timeline > li .timeline-content {
  font-size: 12px;
}
.ie8 .timeline > li .timeline-body .subtitle {
  border-bottom: 1px solid #eee;
}
.timeline > li .timeline-body img.timeline-img {
  width: 75px;
  height: 75px;
  margin: 0 10px 0 0;
}
.timeline > li .timeline-body img.pull-right {
  margin-left: 10px;
}
.timeline > li .timeline-body a.nav-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  padding: 0px;
  text-align: left;
  text-decoration: none;
}
.timeline > li .timeline-body a.nav-linkhover {
  opacity: 0.5;
}
.timeline > li .timeline-body .btn {
  margin-top: 10px;
}
/* The triangle */
.timeline > li .timeline-body: after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #3594cb;
  border-width: 10px;
  top: 19px;
}
.timeline > li .timeline-content: after,
.timeline > li .timeline-content: before {
  display: table;
  line-height: 0;
  content: "";
}
.timeline > li .timeline-content: after {
  clear: both;
}
.timeline >li .timeline-footer: after,
.timeline >li .timeline-footer: before {
  content: "";
  display: table;
  line-height: 0;
}
.timeline >li .timeline-footer: after {
  clear: both;
}
/* The icons */
.timeline > li .timeline-icon {
  width: 12px;
  height: 12px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #aaa;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #ccc;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 23px 0 0 4px;
  padding-bottom: 3px;
  padding-right: 1px;
  padding-left: 2px;
}
.timeline > li .timeline-icon -webkit-border-radius 30px -moz-border-radius 30px {
  border-radius: 30px !important;
}
@media (max-width: 767px) {
  timeline > li .timeline-time span.time {
    font-size: 18px;
  }
  .timelinebefore {
    display: none;
  }
  .timeline > li .timeline-time {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }
  .timeline > li .timeline-time span {
    text-align: left;
  }
  .timeline > li .timeline-body {
    margin: 0 0 30px 0;
    padding: 1em;
  }
  .timeline > li .timeline-body: after {
    right: auto;
    left: 20px;
    top: -20px;
  }
  .timeline > li .timeline-icon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }
}
.timeline-content p {
  margin-top: 5px;
/*colors*/
}
.timeline-content p .timeline li.timeline .timeline-body: after {
  border-right-color: transparent;
  border-bottom-color: #f6f6f6;
}
.dl_timeline {
  width: 660px;
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  padding-top: 20px;
}
.dl_timeline:hover .timeline_element {
  opacity: 0.6;
}
.dl_timeline .spine {
  position: absolute;
  top: 30px;
  bottom: 100%;
  width: 4px;
  border-radius: 2px;
  transition: bottom 0.5s linear;
  left: 50%;
  margin-left: -2px;
  background-color: #ccc;
  height: 100%;
}
.dl_timeline .column {
  width: 50%;
}
.dl_timeline .column .timeline_element {
  background-color: #fff;
  border: 1px solid #ccc;
  text-shadow: none;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  width: 290px;
  position: relative;
  position: relative;
  margin: 10px 0px;
  clear: both;
  border-radius: 0px;
  padding: 10px;
  color: #888;
}
.dl_timeline .column .timeline_element:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}
.dl_timeline .column .timeline_element:before {
  content: '';
  position: absolute;
  display: block;
  width: 26px;
  height: 0px;
  border-top: 1px dashed #ccc;
}
.dl_timeline .column .timeline_element:after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #bbb;
  border: 1px solid #fff;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
.dl_timeline .column .timeline_element .title {
  position: relative;
  font-size: 10px;
  overflow: hidden;
  margin-bottom: 0;
  text-transform: uppercase;
}
.dl_timeline .column .timeline_element .title a {
  color: #aaa;
  display: block;
}
.dl_timeline .column .timeline_element .title a:hover {
  text-decoration: none;
}
.dl_timeline .column .timeline_element .title .head {
  color: #aaa;
  font-size: 12px;
  line-height: 22px;
}
.dl_timeline .column .timeline_element .title .date {
  float: right;
}
.dl_timeline .column .timeline_element .title .timeline-logo {
  margin-right: 4px;
}
.dl_timeline .column .timeline_element .img_scroll {
  max-height: 66px;
  overflow: hidden;
}
.dl_timeline .column .timeline_element .img_scroll .photo {
  display: inline-block;
  max-width: 66px;
  max-height: 66px;
  margin-right: 1px;
}
.dl_timeline .column .timeline_element .content p {
  margin-bottom: 0;
}
.dl_timeline .column .timeline_element .content a {
  color: #888;
  display: block;
}
.dl_timeline .column .timeline_element .content a:hover {
  text-decoration: none;
}
.dl_timeline .column_left {
  float: left;
}
.dl_timeline .column_left .timeline_element {
  float: right;
  margin-right: 30px;
}
.dl_timeline .column_left .timeline_element:before {
  top: 13px;
  right: -27px;
}
.dl_timeline .column_left .timeline_element:after {
  top: 10px;
  right: -35px;
}
.dl_timeline .column_right {
  float: right;
  margin-top: 32px;
}
.dl_timeline .column_right .timeline_element {
  float: left;
  margin-left: 30px;
}
.dl_timeline .column_right .timeline_element:before {
  top: 13px;
  left: -27px;
}
.dl_timeline .column_right .timeline_element:after {
  top: 10px;
  left: -35px;
}
.dl_timeline .date_separator {
  clear: both;
  text-align: center;
  height: 40px;
  position: relative;
}
.dl_timeline .date_separator .span {
  position: absolute;
  display: block;
  width: 150px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 0px;
  border: 1px solid #bbb;
  background-color: #fff;
  color: #666;
  left: 50%;
  margin-left: -75px;
}
.emptiem {
  width: 660px;
  height: 200px;
  background-color: #fff;
}
