.user_content{
  float:left;
}

.user_content .name{
  float:left;
  width:240px;
}

.user_content .role{
  float:left;
  width:20px;
}
td.table_col,td.table_col  {
  max-width: 400px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
}