extends ../views/layouts/default

block content
  div(ng-app="admin" id="wrap")
    div#top
      nav(class="navbar navbar-inverse navbar-static-top")
        .container-fluid
          header.navbar-header
            button.navbar-toggle(data-toggle="collapse" data-target=".navbar-ex1-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            img.margin_left_10.margin_top_10(src="/public/img/logo_blue.png" alt="logo")
          .topnav.margin_right_10
            .btn-group
              a.btn.btn-default.btn-sm(data-placement="bottom" data-original-title="E-mail" data-toggle="tooltip" href="#/message")
                i.fa.fa-envelope
              //-   span.label.label-warning 5
              //- a.btn.btn-default.btn-sm(data-placement="bottom" data-original-title="Messages" href="#" data-toggle="tooltip")
              //-   i.fa.fa-comments
              //-   span.label.label-danger 4
              //- a.btn.btn-default.btn-sm(data-toggle="modal" data-original-title="Help" data-placement="bottom" class="btn btn-default btn-sm" href="#helpModal")
              //-   i.fa.fa-question
            div.btn-group
              a.btn.btn-metis-1.btn-sm(href="/admin/logout")
                i.fa.fa-power-off
          .collapse.navbar-collapse.navbar-ex1-collapse
            //- .navbar-toggle
            //-   ul#menu
            //-     li.nav-header 菜单
            //-     li.nav-divider
            //-     li
            //-       a(href="#/parameter")
            //-         i.fa.fa-dashboard
            //-         span.link-title 综合设置
            //-     //- li
            //-     //-   a(href="#/dashboard")
            //-     //-     i.fa.fa-dashboard
            //-     //-     span.link-title 运行状态
            //-     li
            //-       a(href="#/manager")
            //-         i.fa.fa-table
            //-         span.link-title 公司管理
            //-     li
            //-       a(href="#/user")
            //-         i.fa.fa-table
            //-         span.link-title 人员管理
            //-     li
            //-       a(href="#/team")
            //-         i.fa.fa-table
            //-         span.link-title 小队统计
            //-     li
            //-       a(href="#/campaign")
            //-         i.fa.fa-table
            //-         span.link-title 活动统计
            //-     li
            //-       a(href="#/region")
            //-         i.fa.fa-table
            //-         span.link-title 地区管理
            //-     li
            //-       a(href="#/error")
            //-         i.fa.fa-table
            //-         span.link-title 错误日志
            //-     li
            //-       a(href="#/chart")
            //-         i.fa.fa.fa-bar-chart-o
            //-         span.link-title Charts
            //-     li.nav-divider
      header.head
        .search-bar
          form.main-search(action="")
            .input-group
              input.form-control(type="text" placeholder="Live Search ...")
              span.input-group-btn
                button.btn.btn-primary.btn-sm.text-muted
                  i.fa.fa-search
        .main-bar
          h3
            i.fa.fa-home DONLER
    div(id="left")
      .media.user-media
        .user-media-toggleHover
          span.fa.fa-user
        .user-wrapper
          a.user-link(href="")
            img.media-object.img-thumbnail.user-img(alt="User Picture" src="/public/pic/user.gif")
            //- span.label.label-danger.user-label 16
          .media-body
            h5.media-heading 后台
            ul.list-unstyled.user-info
              li
                a(href="") #{name}
              li Last Access:
                br
                small
                  i.fa.fa-calendar 16 Mar 16:32
      <!-- #menu -->
      ul#menu
        li.nav-header 菜单
        li.nav-divider
        li
          a(href="#/parameter")
            i.fa.fa-dashboard
            span.link-title 综合设置
        //- li
        //-   a(href="#/dashboard")
        //-     i.fa.fa-dashboard
        //-     span.link-title 运行状态
        li
          a(href="#/manager")
            i.fa.fa-table
            span.link-title 公司管理
        li
          a(href="#/user")
            i.fa.fa-table
            span.link-title 人员管理
        li
          a(href="#/team")
            i.fa.fa-table
            span.link-title 小队统计
        //- li
        //-   a(href="#/department")
        //-     i.fa.fa-table
        //-     span.link-title 部门统计
        li
          a(href="#/campaign")
            i.fa.fa-table
            span.link-title 活动统计
        li
          a(href="#/region")
            i.fa.fa-table
            span.link-title 地区管理
        li
          a(href="#/error")
            i.fa.fa-table
            span.link-title 错误日志
        li
          a(href="#/app")
            i.fa.fa-table
            span.link-title APP设置
        li
          a(href="#/report")
            i.fa.fa-table
            span.link-title 举报管理
        li
          a(href="#/component")
            i.fa.fa-table
            span.link-title 组件管理
        li
          a(href="#/mold")
            i.fa.fa-table
            span.link-title 活动类型管理
        li
          a(href="#/log")
            i.fa.fa-table
            span.link-title 登录日志
        li
          a(href="#/terms")
            i.fa.fa-table
            span.link-title 每期场馆
        li
          a(href="#/stadium")
            i.fa.fa-table
            span.link-title 场馆管理
        li
          a(href="#/question")
            i.fa.fa-table
            span.link-title 验证问题管理
        //- li
        //-   a(href="#/chart")
        //-     i.fa.fa.fa-bar-chart-o
        //-     span.link-title Charts
        li.nav-divider
    div(ng-view id="content")
  footer#footer
    p 2014 &copy; DONLER
append footExt
  script(src="/public/lib/angular-route/angular-route.min.js")
  script(src="/public/js/controllers/admin.js")