doctype html
html
  head
    meta(charset="utf-8")
    block title
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/public/lib/fullcalendar/fullcalendar.css")
    link(rel="stylesheet" href="/public/lib/datatables/media/css/jquery.dataTables.css")
    link(rel="stylesheet" href="/public/lib/animate.css/animate.min.css")
    link(rel="stylesheet" href="/public/css/main.min.css")
    link(rel="stylesheet" href="/public/css/theme.css")
    block headExt
  body
    block content


    script(src="/public/lib/jquery/jquery.min.js")
    script(src="/public/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/public/lib/angular/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
    script(src="/public/lib/fullcalendar/fullcalendar.min.js")
    script(src="/public/lib/jquery.tablesorter/js/jquery.tablesorter.min.js")
    script(src="/public/lib/jquery.sparkline.min/index.js")
    script(src="/public/lib/flot/jquery.flot.js")
    script(src="/public/lib/flot/jquery.flot.selection.js")
    script(src="/public/lib/flot/jquery.flot.resize.js")
    script(src="/public/lib/flot/jquery.flot.pie.js")
    script(src="/public/lib/datatables/js/jquery.dataTables.js")
    script(src="/public/lib/jquery.tablesorter/js/jquery.tablesorter.min.js")
    script(src="/public/lib/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js")
    block footExt
