doctype html
html
  head
    meta(charset="utf-8")
    block title
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css")
    block headExt
  body
    block content


    script(src="/public/lib/jquery/dist/jquery.min.js")
    script(src="/public/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/public/lib/angular/angular.min.js")

    block footExt
