doctype html
html
  head
    meta(charset="utf-8")
    block title
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="/public/system/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/system/lib/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/public/system/lib/fullcalendar/fullcalendar.css")
    link(rel="stylesheet" href="/public/system/lib/datatables/media/css/jquery.dataTables.css")
    link(rel="stylesheet" href="/public/system/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")
    link(rel="stylesheet" href="/public/system/lib/animate.css/animate.min.css")
    link(rel="stylesheet" href="/public/css/main.min.css")
    link(rel="stylesheet" href="/public/css/theme.css")

    link(rel="stylesheet" href="/public/system/lib/jquery.uniform/themes/default/css/uniform.default.css")
    link(rel="stylesheet" href="/public/system/lib/jquery-inputlimiter/jquery.inputlimiter.css")
    link(rel="stylesheet" href="/public/system/lib/chosen_v1.1.0/chosen.min.css")
    link(rel="stylesheet" href="/public/system/lib/jquery.tagsinput/jquery.tagsinput.css")
    link(rel="stylesheet" href="/public/system/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css")
    link(rel="stylesheet" href="/public/system/lib/jasny-bootstrap/dist/css/jasny-bootstrap.min.css")
    block headExt
  body
    block content
    script(src="/public/system/lib/jquery/jquery.min.js")
    script(src="/public/system/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/public/system/lib/angular/angular.min.js")
    script(src="/public/system/lib/jquery-ui/jquery-ui.min.js")
    //-script(src="/public/system/lib/jui/ui/jquery-ui.js")
    script(src="/public/system/lib/fullcalendar/fullcalendar.min.js")
    script(src="/public/system/lib/jquery.tablesorter/js/jquery.tablesorter.min.js")
    script(src="/public/system/lib/jquery.sparkline.min/index.js")
    script(src="/public/system/lib/flot/jquery.flot.js")
    script(src="/public/system/lib/flot/jquery.flot.selection.js")
    script(src="/public/system/lib/flot/jquery.flot.resize.js")
    script(src="/public/system/lib/flot/jquery.flot.pie.js")
    script(src="/public/system/lib/datatables/media/js/jquery.dataTables.js")
    script(src="/public/system/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js")
    script(src="/public/system/lib/jquery.tablesorter/js/jquery.tablesorter.min.js")
    script(src="/public/system/lib/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js")

    script(src="/public/system/lib/jquery.uniform/jquery.uniform.min.js")
    script(src="/public/system/lib/jquery-inputlimiter/jquery.inputlimiter.js")
    script(src="/public/system/lib/chosen_v1.1.0/chosen.jquery.min.js")
    script(src="/public/system/lib/jquery.tagsinput/jquery.tagsinput.js")
    script(src="/public/system/lib/jquery.validVal/js/jquery.validVal.min.js")
    script(src="/public/system/lib/moment/min/moment.min.js")
    script(src="/public/system/lib/bootstrap-switch/dist/js/bootstrap-switch.min.js")
    script(src="/public/system/lib/jquery-autosize/jquery.autosize.min.js")
    script(src="/public/system/lib/jasny-bootstrap/dist/js/jasny-bootstrap.min.js")
    block footExt
