#content
  .outer
    .inner
      .row
        .col-lg-12
          a.dl_btn.dl_btn_right(ng-if="push_status.value=='off'" ng-click="pushConfig('set')") 开启推送
          a.dl_btn.dl_btn_right(ng-if="push_status.value=='on'" ng-click="pushConfig('set')") 关闭推送
    .inner
      .row
        .col-lg-12
          .area_left
            .dl_row
              span AppKey
              input(type='text' ng-model="push.baidu.ak")
            .dl_row
              span SecretKey
              input(type='text' ng-model="push.baidu.sk")
            .dl_row
              a.dl_btn.dl_btn_right(ng-click="baidu('set')") 保存
          .area_right
            .dl_row
              h2 apn设置
            form(name="apnForm")
              .dl_row
                span 模式(切换模式只是将下面数据改为预设值，方便填写，实际仍以表单数据为准)
                select(ng-model="apnModeCurrentSelectd" ng-options="opt for opt in apnModeOptions")
              .dl_row
                span push gateway
                input(type='text' ng-model="apnSettings.push.gateway" required)
                span port
                input(type='text' ng-model="apnSettings.push.port" required)
              .dl_row
                span feedback gateway
                input(type='text' ng-model="apnSettings.feedback.gateway" required)
                span port
                input(type='text' ng-model="apnSettings.feedback.port" required)
                span interval(获取推送反馈的时间间隔，单位为秒)
                input(type="number" ng-model="apnSettings.feedback.interval")
              .dl_row
                span PushChatCert.pem(相对路径，下同)
                input(type='text' ng-model="apnSettings.cert_path" required)
              .dl_row
                span PushChatKey.pem
                input(type='text' ng-model="apnSettings.cert_path" required)
              .dl_row
                span password
                input(type='password' ng-model="apnSettings.passphrase" required)
              .dl_row
                button.dl_btn.dl_btn_right(type="submit" ng-click="setApnSettings()") 保存
    .inner
      .row
        .col-lg-12
          .box
            header
              .icons
                i.fa.fa-table
              h5 用户APP使用情况
            #collapse4.body.table_all
              table(datatable="ng")#dataTable.table.table-bordered.table-condensed.table-hover.table-striped
                thead
                  tr
                    th 所属公司
                    th 用户名
                    th 设备信息
                tbody
                  tr(ng-repeat="_content in app_users")
                    td {{_content.cname}}
                    td {{_content.username}}
                    td {{_content.device}}