#content
  .outer
    .inner
      .row
        a.dl_btn.dl_btn_right(ng-if="push_status.value=='off'" ng-click="pushConfig('set')") 开启
        a.dl_btn.dl_btn_right(ng-if="push_status.value=='on'" ng-click="pushConfig('set')") 关闭
    .inner
      .row
        .area_left
          .row
            span AppKey
            input(type='text' ng-model="push.baidu.ak")
          .row
            span SecretKey
            input(type='text' ng-model="push.baidu.sk")
          .row
            a.dl_btn.dl_btn_right(ng-click="baidu('set')")
        .area_right
          .row
            span 网关
            input(type='text' ng-model="push.apn.gateway")
            input(type='text' ng-model="push.apn.port")
          .row
            span 证书文件
            input(type='text')
          .row
            span 密码文件
            input(type='text')
          .row
            span APN密码
            input(type='text' ng-model="push.apn.passphrase")
          .row
            span PUSHWOOSH_APPLICATION_ID
            input(type='text' ng-model="push.apn.pw_ap_id")
          .row
            span PUSHWOOSH_AUTH_TOKEN
            input(type='text' ng-model="push.apn.pw_auth")
          .row
            a.dl_btn.dl_btn_right(ng-click="apn('set')")
    .inner
      .row
        .col-lg-12
          .box
            header
              .icons
                i.fa.fa-table
              h5 用户APP使用情况
            #collapse4.body.table_all
              table(datatable)#dataTable.table.table-bordered.table-condensed.table-hover.table-striped
                thead
                  tr
                    th 所属公司
                    th 用户名
                    th 设备信息
                tbody
                  tr(ng-repeat="_content in app_users")
                    td {{_content.cname}}
                    td {{_content.username}}
                    td {{_content.device}}