#content
  .outer
    .inner
      .form-group.dl_row.margin_top_10
        .col-lg-3
          select(data-placeholder="Choose a Country..." class="form-control chzn-select" tabindex="2" ng-model="company_selected" ng-options="c.name for c in companies" ng-change="getCampaign(company_selected)")
        //- .col-lg-1
        //-   input.dl_form-control(type="text" ng-model="company_regx.value")
        //- .col-lg-2
        //-   button.dl_btn.dl_btn_small(ng-click="searchCompany(false)") 搜索公司
    .inner
      .dl_row.dl_code
        table(datatable)#dt_campaign.table.table-bordered.table-condensed.table-hover.table-striped
          thead
            tr
              th 主题
              th 内容
              th 标签
              th 类型
              th 参加人数
              th 开始时间
              th 结束时间
              th 地点
          tbody()
            tr(ng-repeat="campaign in campaigns")
              td {{campaign.theme}}
              td
                .campaign_content {{campaign.content}}
              td {{campaign.group_type}}
              td {{campaign.campaign_type_value}}
              td {{campaign.member.length}}
              td {{campaign.start_time | date:'yyyy-MM-dd HH:mm' | dateView}}
              td {{campaign.end_time | date:'yyyy-MM-dd HH:mm' | dateView}}
              td {{campaign.location.name}}
    .inner
      .dl_row
        .dl_row
          hr
        .dl_row
          .pull-left
            span.pull-left
              h5 活动按标签分布
            span
              .col-lg-6
                select(class="form-control chzn-select" tabindex="2" ng-model="group_selected" ng-options="g.name for g in group_selecteds" ng-change="statisticsSelect(group_selected)")
          .pull-right
            span.pull-left
              h5 活动按类型分布
            span
              .col-lg-6
                select(class="form-control chzn-select" tabindex="2" ng-model="group_selected" ng-options="g.name for g in group_selecteds" ng-change="statisticsSelect(group_selected)")
        .dl_row
          hr
        .dl_row
          //-p {{show_group_caption}}
        .dl_row.margin_top_10
          .pull-left
            .col_md_6
              canvas#pieGroup
            .col_md_6
              canvas#barGroup
          .pull-right
            .col_md_6
              canvas#pieType
            .col_md_6
              canvas#barType
.modal.fade#teamDetailModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  include ../partials/team_detail