#content
  .outer
    .inner
      .form-group.dl_row.margin_top_10
        .icons
          i.fa.fa-table
        h5 模板管理
        a.pull-right(data-toggle="modal" data-target="#addTemplateModal") 添加模板
      .form-group.dl_row.margin_top_10
        .col-lg-3
          select.form-control.chzn-select(tabindex="2" ng-model="templateType" ng-change="getTemplate(templateType)")
            option(selected value=1) 活动
            option(value=2) 投票
            option(value=3) 互助
    .inner
      .dl_row.dl_code.table_all
        table(datatable="ng")#dt_interaction.table.table-bordered.table-condensed.table-hover.table-striped
          thead
            tr
              th 主题
              th 内容
              th(ng-if="templateType==1") 开始时间
              th 结束时间
              th(ng-if="templateType==1") 地点
              th(ng-if="templateType==2") 选项
              th 详情
          tbody()
            tr(ng-repeat="template in templates")
              td {{template.theme}}
              td
                .campaign_content {{template.content}}
              td(ng-if="templateType==1") {{template.startTime | date:'yyyy-MM-dd HH:mm' | dateView}}
              td {{template.endTime | date:'yyyy-MM-dd HH:mm' | dateView}}
              td(ng-if="templateType==1") {{template.location.name}}
              td(ng-if="templateType==2")
                span.option_span(ng-repeat="_option in template.option") {{_option.value}}
              td
                a.btn.btn-xs.btn-info(ng-click="detail(template._id)") 详情
.modal.fade#addTemplateModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  include ../partials/add_template
.modal.fade#templateDetailModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  include ../partials/template_detail
append footExt
  script(src="/public/lib/cropit/dist/jquery.cropit.js")













