#content
  .outer
    .inner
      <!--Begin Datatables-->
      .row
        .col-lg-12
          .box
            header
              .icons
                i.fa.fa-table
              h5 学校管理
              a.pull-right(data-toggle="modal" data-target="#addCompanyModal") 添加学校
            #collapse4.body.table_all
              table(datatable="ng" dt-options="dtOptions")#dataTable.table.table-bordered.table-condensed.table-hover.table-striped
                thead
                  tr
                    th 学校
                    th 创建时间
                    th 小组数
                    th 人数
                    th 状态
                    th 操作
                tbody
                  tr(ng-repeat="_content in companies")
                    td {{_content.info.name}}
                    td {{_content.register_date | date:'yyyy-MM-dd HH:mm'}}
                    td {{_content.team.length}}
                    td {{_content.info.membernumber}}
                    td
                      span.label.label-success(ng-if="_content.status.active") 正常
                      span.label.label-danger(ng-if="!_content.status.active") 屏蔽
                      | &nbsp;
                      span.label.label-success(ng-if="_content.status.verification === 0") 已审核
                      span.label.label-warning(ng-if="_content.status.verification === 1") 未审核（快速注册）
                    td
                      a(ng-click="getDetail(_content._id)" href="") 查看资料
                      span |
                      a(ng-if="!_content.status.active" ng-click="active(true,_content._id)") 激活
                      a(ng-if="_content.status.active" ng-click="active(false,_content._id)") 屏蔽
                      span |
                      a(ng-click="point()") 指定管理员
.modal.fade#companyDetailModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  include ../partials/company_detail
.modal.fade#addCompanyModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  include ../partials/add_company

//- append footExt
//-   script(src="/public/lib/linkage-selector/linkage-selector.js")