#content
  .outer
    .inner
      <!--Begin Datatables-->
      .row
        .col-lg-12
          .box
            header
              .icons
                i.fa.fa-table
              h5 公司管理
              h5.pull-right 公司总数:{{company_num}}
              a(ng-click="testPW()") PW
            #collapse4.body.table_all
              table(datatable)#dataTable.table.table-bordered.table-condensed.table-hover.table-striped
                thead
                  tr
                    th 公司名
                    th 注册日期
                    th 公司邮箱
                    th 部门数
                    th 小组数
                    th 人数
                    th 状态
                    th 操作
                tbody
                  tr(ng-repeat="_content in companies")
                    td {{_content.info.name}}
                    td {{_content.register_date | date:'yyyy-MM-dd HH:mm' | dateView}}
                    td {{_content.login_email}}
                    td {{_content.department_num}}
                    td {{_content.team.length}}
                    td {{_content.info.membernumber}}
                    td
                      .glyphicon.glyphicon-ok(ng-if="_content.status.active")
                      .glyphicon.glyphicon-remove(ng-if="!_content.status.active")
                    td
                      a(ng-click="getDetail(_content._id)" href="") 查看资料
                      span |
                      a(ng-if="!_content.status.mail_active" ng-click="sendActiveMail(_content.login_email,_content.info.name,_content._id)") 发送激活邮件
                      a(ng-if="!_content.status.active && _content.status.mail_active" ng-click="active(true,_content._id)") 激活
                      a(ng-if="_content.status.active && _content.status.mail_active" ng-click="active(false,_content._id)") 屏蔽
.modal.fade#companyDetailModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  include ../partials/company_detail