#content
  .outer
    .inner
      <!--Begin Datatables-->
      .row
        .col-lg-12
          .box
            header
              .icons
                i.fa.fa-table
              h5 活动类型管理
              button.btn.btn-primary.pull-right(data-toggle="modal" data-target="#addMoldModal") 增加活动类型
            #collapse4.body.table_all
              table(datatable)#dataTable.table.table-bordered.table-condensed.table-hover.table-striped
                thead
                  tr
                    th 活动类型
                    th 已有组件
                    th 操作
                tbody
                  tr(ng-repeat="mold in molds")
                    td {{mold.name}}
                    td
                      p(ng-repeat="module in mold.module") 
                        label.label.label-info {{module}} 
                    td
                      button.btn.btn-xs.btn-success(ng-click="editMold($index)") 编辑
                      button.btn.btn-xs.btn-warning(ng-show="mold.enable" ng-click="activate($index,false)") 禁用
                      button.btn.btn-xs.btn-success(ng-show="!mold.enable" ng-click="activate($index,true)") 启用
                      button.btn.btn-xs.btn-danger(ng-click="delete($index)") 删除
.modal.fade#editMoldModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  include ../partials/editMold
.modal.fade#addMoldModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .dl-modal
      form.form-horizontal.clearfix(name="moldForm")
        .dl-modal-header
          button(type="button" class="close" data-dismiss="modal" aria-hidden="true") X
          h4.modal-title#myModalLabel 增加活动类型
        .dl-modal-body.clearfix
          .dl_modal_container.clearfix
            .info_side
              span.info_label 活动名:
            .info_detail
              input.dl_form_control(ng-model="newMold" required)
        .dl-modal-footer
          button.dl_btn.dl_btn_large(ng-disabled="moldForm.$invalid" ng-click="addMold()" data-dismiss="modal") 确定
