#content
  .outer
    .inner
      .dl_parameter
        .dl_row.margin_top_10
          .dl_left_head.dl_vertical 后台域名
          .dl_md_2.dl_vertical
            input.dl_modal_input.form-control(type="text" ng-model="host.admin")
          .dl_md_1.dl_vertical
            button.dl_btn.dl_btn_right(ng-click="setHost(0,host.admin)") 修改
        .dl_row.margin_top_5
          .dl_left_head.dl_vertical 产品域名
          .dl_md_2.dl_vertical
            input.dl_modal_input.form-control(type="text" ng-model="host.product")
          .dl_md_1.dl_vertical
            button.dl_btn.dl_btn_right(ng-click="setHost(1,host.product)") 修改
        .dl_row.margin_top_5
          .dl_left_head.dl_vertical SMTP:
          .dl_md_2.dl_vertical
            select(ng-model="smtp")
              option 163
              option webpower
              option sendcloud
          .dl_md_1.dl_vertical
            button.dl_btn.dl_btn_right(ng-click="setSMTP()") 确定
        .dl_row.margin_top_5
          .dl_left_head.dl_vertical 生成公司邀请二维码图片：
          .dl_md_1.dl_vertical
            button.dl_btn.dl_btn_right(ng-click="genarateQrcode()") 生成
        .dl_row.margin_top_5
          .dl_left_head.dl_vertical 手动重排排行榜
          .dl_md_1.dl_vertical
            button.dl_btn.dl_btn_right(ng-click="reGenerateRank()" ng-disabled="reGenerating") 生成
    .inner
      include ../system/setting