div.margin_top_5
  p 企业注册是否需要邀请码
  label
    input(type="radio" name="company_register_invite_code" ng-model="value" value="true" )
    | 需要
  label
    input(type="radio" name="company_register_invite_code" ng-model="value" value="false")
    | 不需要
  button(ng-click="codeSetting()") 设置

div.margin_top_20
  .dl_row
    button.dl_btn_right(ng-click="renderCode()") 生成邀请码
  .dl_row.dl_code
    table#dataTable.table.table-bordered.table-condensed.table-hover.table-striped
      thead
        tr
          th 序号
          th 邀请码
          th 是否使用
          th 使用公司
          th 操作
      tbody
        tr(ng-repeat="code in codes")
          td {{$index}}
          td {{code.code}}
          td {{code.status == 'active' ? '否' : '是'}}
          td {{code.use_by_company.name}}
          td 复制