div
  p 企业注册是否需要邀请码
  label
    input(type="radio" name="company_register_invite_code" ng-model="value" value="true" )
    | 需要
  label
    input(type="radio" name="company_register_invite_code" ng-model="value" value="false")
    | 不需要
  button(ng-click="codeSetting()") 设置

div
  .row
    p 生成邀请码
    button(ng-click="renderCode()") 生成
  .row
    p 所有邀请码
  .row
    div(ng-repeat = "code in codes")
      p {{code.code}}