#content
  .outer
    .inner
      .dl_row.row
        h4 添加一期抢场地活动
        form.col-xs-12.col-sm-6.col-md-4.col-lg-3(name="addTermForm")
          .form-group
            label 描述
            input.form-control(type="text" ng-model="addTermFormModel.content")
          .form-group
            label 开始时间
            .input-group.date.form_datetime#addTermFormStartTime(data-date-format="yyyy-mm-dd hh:ii" data-date-autoclose="true")
              input.form-control(type="text" ng-model="addTermFormModel.start_time" readonly required)
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
          .form-group
            label 结束时间
            .input-group.date.form_datetime#addTermFormEndTime(data-date-format="yyyy-mm-dd hh:ii" data-date-autoclose="true")
              input.form-control(type="text" ng-model="addTermFormModel.end_time" readonly required)
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
          button.btn.btn-default(type="submit" ng-click="addTerm()") 添加
      hr
      .dl_row.dl_code.table_all
        table(datatable="ng")#dataTable.table.table-bordered.table-condensed.table-hover.table-striped
          thead
            tr
              th 描述
              th 开始时间
              th 结束时间
              th 创建时间
              th 状态
              th 操作
          tbody
            tr(ng-repeat="term in terms")
              td {{term.content}}
              td {{term.start_time | date:'yyyy-MM-dd HH:mm'}}
              td {{term.end_time | date:'yyyy-MM-dd HH:mm'}}
              td {{term.create_time | date:'yyyy-MM-dd HH:mm'}}
              td {{term.status}}
              td
                a(ng-click="openEditTermModal(term)") 编辑
                span &nbsp;|&nbsp;
                a(ng-click="deleteTerm(term)") 删除

.modal.fade#editTermModal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title 编辑
      form(name="editTermForm")
        .modal-body
          .form-group
            label 描述
            input.form-control(type="text" ng-model="editTermFormModel.content")
          .form-group
            label 开始时间
            .input-group.date.form_datetime#editTermFormStartTime(data-date-format="yyyy-mm-dd hh:ii" data-date-autoclose="true")
              input.form-control(type="text" ng-model="editTermFormModel.start_time" readonly required)
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
          .form-group
            label 结束时间
            .input-group.date.form_datetime#editTermFormEndTime(data-date-format="yyyy-mm-dd hh:ii" data-date-autoclose="true")
              input.form-control(type="text" ng-model="editTermFormModel.end_time" readonly required)
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
        .modal-footer
          button.btn.btn-default(type="submit" ng-click="editTerm()") 编辑
